.header {
    color: mintcream;
}
body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    position: relative;
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{ background-position: 100% 50%;
    }
    100%{ background-position: 0 50%;
    }
}
main {
    
}
.title {
    color: mintcream;
}
img {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 12px;
    border-bottom: solid 2px ;
    font-size: 30px;
}
h1 {
    color: mintcream;
}
h2 {
    text-align: center;
    color: mintcream;
}
.main {
    color: mintcream;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin: 10px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
<<<<<<< HEAD
}
=======
    padding: 5px;
}

>>>>>>> 4ae4d1a9245f4d28ad11991021db155d7be537d2
.card img {
    padding: 10px;
}

.hide {
    display: none;
}